@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-action="Index" asp-controller="A">Executar A</a>
    <a asp-action="Index" asp-controller="B">Executar B</a>
    <a asp-action="Index" asp-controller="C">Executar C</a>
</div>
